<!-- web/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta3 Research</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add Slick-theme.css for default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Merriweather:400,700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5df3d8c5d2be5962e4f87890/1579482287860-E0D69TH9YRS1HSII91MC/favicon.ico">

</head>
<body>
    <header>
        <nav style="display: flex; justify-content: space-between; align-items: center;">
            <a href="/">
                <img src="https://static.alta3.com/images/Alta3-logo_large.png" alt="Alta3 Research" style="height: 60px;"> <!-- Adjust size as needed -->
            </a>
            <div style="margin-right: 50px;font-size:1.2em;">
                <a href="/courses" style="margin-right: 20px;">Courses</a>
                <a href="/events" style="margin-right: 20px;">Events</a>
                <div class="dropdown" style="display: inline-block;">
                    <a href="#" class="dropbtn">Company</a>
                    <div class="dropdown-content">
                        <a href="/about">About Us</a>
                        <a href="/blog">Blog</a>
                        <a href="/contact">Contact</a>
                    </div>
                </div>
                🛒
                    
            </div>
        </nav>
    </header>

    {{ template "content" . }}

    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <a href="/">
                    <img src="https://static.alta3.com/images/Alta3-logo_large.png" alt="Alta3 Research" style="height: 50px;"> <!-- Adjust size as needed -->
                </a>
                <p>Providing premier training in cloud, automation, security, and more.</p>
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- Add other quick links here -->
                </ul>
            </div>
            <div class="footer-social">
                <h3>Connect with Us</h3>
                <a href="https://www.linkedin.com/company/alta3-research-inc/" target="_blank"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/480px-LinkedIn_logo_initials.png' style="height: 50px;"/></a>
                <!-- Add other social media links here -->
            </div>
        </div>
    </footer>
    
    <script>
        // Simple script to handle dropdown visibility
        document.querySelector('.dropbtn').addEventListener('mouseover', function() {
            document.querySelector('.dropdown-content').style.display = 'block';
        });
        document.querySelector('.dropdown').addEventListener('mouseleave', function() {
            document.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>
    
</body>
</html>