{{ define "content" }}
<div class="course-page-container">
    <!-- Course Hero Card -->
    <div class="course-hero-card">
        <h1 class="marketing-name"><img src="https://static.alta3.com/outlines/{{.CourseDetail.CourseDir}}/{{.CourseDetail.CourseDir}}.png" alt="{{ .CourseDetail.MarketingName }} logo" class="course-logo" style="max-width: 100px; height: auto; display: block; margin: 0 auto;">
            {{ .CourseDetail.MarketingName }}</h1>
    </div>
    

    <!-- Tabs -->
    <div class="tabs" style="display: flex; justify-content: space-between; margin-top: 20px;">
        <div class="tab active" data-target="#overview">Overview</div>
        <div class="tab" data-target="#select-date" id="select-date-tab">Select Date</div>
        <div class="tab" data-target="#outline">Outline</div>
    </div>

    <!-- Overview Content -->
    <div class="tab-content" id="overview" style="display: block; border: 1px solid #dddddd; padding: 20px; margin-top: 10px;">
        <h2 style="text-align: center;">{{ .CourseDetail.MarketingName }} </h2>
        <h2 style="text-align: center;">Duration: {{ .CourseDetail.Duration }} Days</h2>
        <div style="display: flex;">
            <div style="flex: 50%;">
                <h3> Overview</h3>
                <p>{{ .CourseDetail.Overview }}</p>
            </div>
            <div style="flex: 50%; text-align: center;">
                <h3> Objectives </h3>
                <p>{{ .CourseDetail.Objectives }}</p>
                <p>{{ .CourseDetail.Specs }}</p>
                <a href="https://static.alta3.com/outlines/{{.CourseDetail.CourseDir}}/{{.CourseDetail.CourseDir}}.pdf" target="_blank" rel="noreferrer" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; display: inline-block; margin-top: 10px;">Download Course PDF</a>
            </div>
        </div>
    </div>

    <!-- Schedule  -->
    <div class="tab-content" id="select-date" style="display: none;">
        <h3>Select a Date to Enroll</h3>
        <div class="dates-container">
            {{ range .CourseDetail.PublicDates }}
            <div class="date-card">
                <div class="date-info">
                    <span class="date">{{ . }}</span>
                    <span class="time">Start Time: 10 AM EST</span>
                </div>
                <div class="date-price-enroll">
                    {{ if $.CourseDetail.Price }}
                    <span class="price">Price: {{ $.CourseDetail.Price }}</span>
                    {{ end }}
                    <button class="schedule-enroll">Enroll</button>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    <!-- Topics Content -->
    <div class="tab-content" id="outline" style="display: none; border: 1px solid #dddddd; padding: 20px; margin-top: 10px;">
        <p> Outline from docx here</p>
    </div>

    <!-- Enrollment Card on the Right Bar -->
<div class="enrollment-card" >
    <h3>Online or Classroom Training</h3>
    <p>Duration: {{ .CourseDetail.Duration }} Days</p>
    <!-- Display price if available -->
    {{ if .CourseDetail.Price }}
    <p>Price: {{ .CourseDetail.Price }}</p>
    {{ end }}
    {{ if .CourseDetail.PublicDates }}
    <button class="enroll-button tabbed" data-target="#select-date">Schedule</button>
    {{ end }}
    <button class="enroll-button">Enroll</button>
</div>
    
    <!-- Contact Us Pre-footer -->
    <div class="contact-us-pre-footer" style="background-color: #f8f9fa; padding: 20px; margin-top: 20px; text-align: center;">
        <h3>Contact Us for More Info</h3>
        <form>
            <!-- Form fields for name, email, message, etc. -->
            <a href="#" class="btn btn-info" style="background-color: #17a2b8; color: white; padding: 10px 20px; text-decoration: none; display: inline-block; margin-top: 10px;">Submit</a>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var scheduleButton = document.querySelector(".enroll-button.tabbed"); // Assuming this selects the Schedule button on the right sidebar
        scheduleButton.addEventListener("click", function(){
            // Scroll to the tabs
            $('html, body').animate({
                scrollTop: $('.tabs').offset().top - 25
            }, 500, function() {
                // After completing the scroll, trigger the click on the Select Date tab
                document.getElementById('select-date-tab').click(); // Make sure 'select-date-tab' matches the id of your Select Date tab
            }); 
        });
    
        // Your existing tabs click event setup
        var tabs = document.querySelectorAll(".tab");
        tabs.forEach(function(tab) {
            tab.addEventListener("click", function() {
                var target = document.querySelector(this.getAttribute("data-target"));
                document.querySelectorAll(".tab").forEach(function(t) {
                    t.classList.remove("active");
                    t.style.backgroundColor = "#f0f0f0"; // Reset inactive tabs
                    t.style.color = "black";
                });
                document.querySelectorAll(".tab-content").forEach(function(tc) {
                    tc.style.display = "none";
                });
                tab.classList.add("active");
                tab.style.backgroundColor = "#007bff"; // Active tab color
                tab.style.color = "white";
                target.style.display = "block";
            });
        });
    
        // Activate the first tab and content on page load
        document.querySelector(".tab.active").click();
    });
    
</script>

{{ end }}
