<!-- web/templates/home.html -->
{{ define "content" }}
<div class="courses">
    <h1>Future home of the Alta3 Courses</h1>
    <h3> We can make a DataTables with similar breakdown to the front page/sales hub <h3>
        <p> Are these purchasable or just get you to a contact Tracy page? </p>
</div>
{{ end }}
