<!-- web/templates/home.html -->
{{ define "content" }}
    <div class="hero">
        <div class="hero-text">
            <h1>Cloud, DevOps, and AI Training Classes</h1>
            <h3>Learn New Skills - Enhance Existing Skills</h3>
        </div>
        <div class="hero-search-bar">
            <input type="text" id="heroSearchInput" placeholder="What do you want to learn?" />
            <button id="heroSearchBtn">Find</button>
        </div>
    </div>

    <div class="courses-table">
        <div class="public-header">
        <h2>All Courses</h2>
        <a href="/events" class="virtual-schedule-button">Schedule</a>
        </div>

        <table id="coursesTable" class="display">
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Course Code</th> 
                    <th>Name</th>
                    <th>Days</th>
                    <th>Gtr to Run</th>
                    <th>Public Dates</th>
                    <th>Outline</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Courses }}
                <tr data-child-value="{{range $index, $date := .PublicDates}}{{if $index}}, {{end}}{{ $date }}{{end}}" data-course-code="{{ .CourseCode }}" data-gtr="{{ .Guaranteed }}">
                    <td data-search="{{.Keywords}}"><img src="https://static.alta3.com/outlines/{{.CourseDirectory }}/{{ .CourseDirectory }}.png" style="height:25px;"/> </td>
                <td>{{ .CourseCode }}</td>
                    <td class="alta3-link"><a href="course/{{ .CourseCode }}">{{ .MarketingName }}</a></td>
                    <td>{{ .Duration }}</td>
                    {{ if eq .Guaranteed "Yes" }}<td >✅</td>{{ else }} <td> </td>{{ end }}
                    {{ if .IsPrivate }}
                    <td><a href="mailto:sales@alta3.com?subject=Private Course Enquiry" style="text-decoration: none;">Private</a></td>
                    {{ else }}
                    <td class="details-control">See Dates</td>
                    {{ end }}
                    <td><a href="https://static.alta3.com/outlines/{{ .CourseDirectory }}/{{ .CourseDirectory }}.pdf" target="_blank" rel="noreferrer">    <img src="../static/assets/pdf.png" alt="⬇️" style="height: 27px;"></a></td>
                    <td>{{ if eq .Price "contact" }} <a href="mailto:sales@alta3.com?subject=Price Inquiry" style="text-decoration: none;">Get Quote</a> {{ else }} {{ .Price }} {{ end }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <section class="course-topics">
        <h2 class="topics-title">Explore Popular Offerings</h2>
        <div class="topics-container">
            <div class="topic">Kubernetes</div>
            <div class="topic">Cloud DevOps</div>
            <div class="topic">AI Artificial Intelligence</div>
            <div class="topic">Programming</div>
            <div class="topic">Ansible</div>
            <div class="topic">5G and Telecom</div>
            <div class="topic">SUSE</div>
            <div class="topic">Networking</div>
        </div>
    </section>

    <div class="testimonial-section">
        <div class="testimonial-wrapper">
            {{ range .Testimonials }}
            <div class="testimonial">
                <blockquote>{{ .StudentTestimonial }}</blockquote>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="newsletter-signup">
        <h2>Sign Up for Our Newsletter</h2>
        <p>Stay updated with the latest news and offerings from Alta3 Research.</p>
        <form id="newsletter-form">
            <input type="email" name="email" placeholder="Enter your email address" required>
            <button type="submit">Submit</button>
        </form>
    </div>
<script>
    $(document).ready(function(){
      $('.testimonial-wrapper').slick({
        infinite: true,
        slidesToShow: 3, 
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3500,
        // pauseOnHover: false, 
      });
    });
    </script>
    <script>
        $(document).ready(function() {
            // Listen for clicks on topic divs
            $('.topic').click(function() {
                // Extract the topic text
                var topicText = $(this).text().trim();
        
                // Apply exceptions for specific topics
                var searchTerm = topicText; // Default to the text itself
                if (topicText.includes("DevOps")) {
                    searchTerm = "DevOps";
                } else if (topicText.includes("Artificial Intelligence")) {
                    searchTerm = "AI";
                } else if (topicText.includes("5G and Telecom")) {
                    searchTerm = "Telecom";
                }
        
                // Populate the search bar with the search term
                $('#heroSearchInput').val(searchTerm);
        
                // Trigger the search
                $('.courses-table').show();
                var table = $('#coursesTable').DataTable();
                table.search(searchTerm).draw();
            });
        });
        </script>
        
    <script>
        $(document).ready(function() {
            $('.courses-table').hide();
            
            function performSearch() {
                var searchTerm = $('#heroSearchInput').val().trim();
                $('.courses-table').show();
                var table = $('#coursesTable').DataTable();
                table.search(searchTerm).draw();
                
                // Smooth scroll to the table
                $('html, body').animate({
                    scrollTop: $('.courses-table').offset().top - 25 // Adjust the offset as needed
                }, 500); // 500 ms for animation speed
            }
            
            $('#heroSearchBtn').on('click', function() {
                performSearch();
            });
            
            $('#heroSearchInput').on('keypress', function(e) {
                if (e.which === 13) { // 13 is the Enter key
                    performSearch();
                    e.preventDefault(); // Prevent the default form submission
                }
            });
            
            $('.topic').click(function() {
                var topicText = $(this).text().trim();
                var searchTerm = topicText;
                if (topicText.includes("DevOps")) {
                    searchTerm = "DevOps";
                } else if (topicText.includes("Artificial Intelligence")) {
                    searchTerm = "AI";
                } else if (topicText.includes("5G and Telecom")) {
                    searchTerm = "Telecom";
                }
            
                $('#heroSearchInput').val(searchTerm);
                performSearch(); // This now includes the smooth scroll
            });
        })
    </script>
    
    <script>
        $.fn.dataTable.ext.type.order['date-pre'] = function (dateStr) {
            return moment(dateStr, 'M/D/YYYY').unix(); 
        };

        $(document).ready(function() {
            var equalizeTestimonialHeights = function() {
                var maxHeight = 0;
                // Reset the height so we can find the natural height of the tallest testimonial.
                $('.testimonial').height('auto');
                $('.testimonial').each(function() {
                    if ($(this).height() > maxHeight) {
                        maxHeight = $(this).height();
                    }
                });
                $('.testimonial').height(maxHeight);
            };
        
            equalizeTestimonialHeights();
        
            $(window).resize(function() {
                equalizeTestimonialHeights();
            });
        });
        
    </script>
    <script>
        $(document).ready(function() {
            var table = $('#coursesTable').DataTable({
                "paging": false,
                "ordering": true,
                "info": true,
                "searching": true,
                "order": [[1, 'asc']],
                "columnDefs": [
                    { "type": "date", "targets": 4 }
                ],
                "dom": 'Bfrtip',
                "buttons": [
                {
                    "extend": 'csvHtml5',
                    "title": 'All Courses',
                    "text": 'Download CSV',
                    "exportOptions": {
                        "format": {
                            "body": function(data, row, column, node) {
                                if (column === 4) {
                                    return $(table.row(row).node()).attr('data-child-value');
                                }
                                if (column === 1){
                                    return $(node).text();
                                }
                                return data;
                            }
                        },
                        "columns": ':not(:eq(5))', 

                    }
                }
            ]
        });
        
            $('#coursesTable tbody').on('click', 'td.details-control', function() {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

        
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    table.rows().every(function() {
                        if (this.child.isShown()) {
                            this.child.hide();
                            $(this.node()).removeClass('shown');
                        }
                    });
                    var courseCode = tr.data('course-code');
                    var gtr = tr.data('gtr');
                    var childData = formatChildRow(tr.data('child-value'), courseCode, gtr);
                    row.child(childData).show();
                    tr.addClass('shown');
                }
            });
        
            function formatChildRow(dates, courseCode, gtr) {
                var html = '<div class="child-row-links-container"><p>';
                dates.split(', ').forEach(function(date) {
                    html += '<a class="child-row-link" href="/purchase/' + courseCode + '/' + date.replaceAll('/', '-') + '">' + date + '</a>';
                });
                html += '</p></div>';
                return html;
            }
            
        });
        </script>
        
    <script>
        document.getElementById('newsletter-form').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
        
            fetch('/home/submit-newsletter', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    alert('Thank you for subscribing to our newsletter!');
                } else {
                    alert('There was a problem with your subscription.');
                }
            });
        });
        </script>
        
{{ end }}
