{{ define "content" }}
<div class="purchase-page">
    <div class="left-column">
        <h1 class="purchase-title">{{ .CourseDetails.MarketingName }} on {{.Date}}</h1>
        <div class="course-details">
            <p><strong>Course Code:</strong> {{ .CourseDetails.CourseCode }}</p>
            <p><strong>Duration:</strong> {{ .CourseDetails.Duration }}</p>
            <p><strong>Price:</strong> {{ .CourseDetails.Price }}</p>
        </div>
        <h3 style="color: red;"> Note: This page is GOING TO pull data from the static JSON page we build from labs/courses data </h3>

    </div>
    <div class="right-column">
        <div class="enroll-section">
            <h2>Enroll Now</h2>
            <form id="enrollForm">
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" required>
                </div>
                <button type="submit" class="enroll-button">Purchase</button>
            </form>
        </div>
    </div>
</div>
{{ end }}
