        /* web/static/css/style.css */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0; /* Example background color */
        }

        header, footer {
            background-color: #003366; /* Example nav/footer background color */
            color: white;
            text-align: center;
        }

        nav a {
            color: white;
            margin: 10px 15px;
            text-decoration: none;
        }

        .home, .courses, .events, .about, .blog, .contact {
            text-align: center;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .navbar img {
            height: 50px;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #003366;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            display: block;
            color: white; 
            padding: 10px 10px; 
            text-decoration: none;
        }
        .dropdown-content a:hover {
            background-color: #002244; /* Darker shade for hover effect, adjust as needed */
        }
        .navbar i.fa-shopping-cart {
            margin-right: 5px; /* Adds some space between the icon and the text */
            color: white; /* Adjust color as needed */
        }
        
        /* Optional: Change the icon's color on hover */
        .navbar a:hover i.fa-shopping-cart {
            color: #CCCCCC; /* Lighter shade when hovered */
        }

        footer {
            background-color: #002244; /* Dark footer background color */
            color: white;
            padding: 20px 0;
            font-size: 0.9rem;
        }
        
        .footer-container {
            display: flex;
            justify-content: space-around;
            align-items: start;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        
        .footer-about,
        .footer-links,
        .footer-social {
            margin: 0 20px;
        }
        
        .footer-links ul,
        .footer-social ul {
            list-style: none;
            padding: 0;
        }
        
        .footer-links li,
        .footer-social li {
            margin-bottom: 10px;
        }
        
        .footer-social a {
            color: white;
            text-decoration: none;
        }

        .footer-links a {
            color: white;
 
        }
        
        /* Responsive adjustments */
        @media (max-width: 768px) {
            .footer-container {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        
            .footer-about,
            .footer-links,
            .footer-social {
                margin: 10px 0;
            }
        }
        
        .hero {
            background-image: url('../assets/stock_developer.jpg');
            background-size: cover;
            background-position: center;
            height: 350px; /* Adjust height as needed */
            position: relative;
            color: white; /* Contrasting text color */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (min-width: 1500px) {
            .hero {
                height: 450px;
            }
        }
        
        .hero-text {
            position: absolute;
            border-radius: 20px;
            bottom: 35%; 
            left: 18%; 
            color: #fff; 
            max-width: 80%; 
            background: rgba(0, 0, 0, 0.5); 
            padding: .5em; 
        }
        
        /* DataTables Custom Styling */

        .courses-table {
            color: #003366; /* Or any color that matches your theme */
            margin-bottom: 1em;
          
            
        }
        .date-box {
            /* Styling for the date boxes within the Select Date tab */
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            /* Add more styling to match the example website image */
        }

        /* Hero Search Bar Styling */
.hero-search-bar {
    position: absolute;
    bottom: 50px; /* Adjust based on your layout */
    left: 40%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 500px; /* Adjust as necessary */
}

.hero-search-bar input[type="text"] {
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
}

.hero-search-bar button {
    background-color: #0056b3; /* Primary button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-search-bar button:hover {
    background-color: #003366; /* Darker shade on hover */
}

/* Responsive adjustments for the search bar */
@media (max-width: 768px) {
    .hero-search-bar {
        width: calc(100% - 40px); /* Adjust based on your responsive design */
        bottom: -20px; /* Adjust based on your layout */
        padding: 10px;
    }
}


        .public-header {
            text-align: center;
            margin-bottom: 10px;
        }
.dataTables_wrapper {
    width: 90%; /* Set a max-width for the DataTable */
    margin: 0 auto; /* Center the table on the page */
    padding: 20px; /* Add some padding around the table */
    background-color: white; /* Set the background to white or another light color */
    border-radius: 8px; /* Round the corners of the DataTable */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

/* Style the table header to match the site's color scheme */
.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    color: #003366; /* Text color for the controls to match the header/footer */
}

/* Style the DataTables table header */
table.dataTable thead th {
    background-color: #003366; /* Background color for the header */
    color: white; /* Text color for the header */
}

/* Row hover effect */
table.dataTable tbody tr:hover {
    background-color: #f2f2f2; /* Light background on row hover for better readability */
}

/* Table cells padding */
table.dataTable tbody td {
    padding: 10px; /* Padding inside cells for better spacing */
}

/* Adjust the DataTables pagination buttons to fit the color scheme */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #005f73; /* Button background color */
    color: white !important; /* Button text color */
    padding: 5px 10px; /* Button padding */
    margin: 0 3px; /* Space between buttons */
    border-radius: 4px; /* Round the buttons */
}

/* Hover effect for pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #002244;
    border-radius: 4px; 
}

/* Active pagination button styling */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #003366; 
    color: white !important;
}

.child-row-links-container p {
    margin: 0px; 
    padding: 0px; 
    line-height: .1; 
}

.child-row-link {
    color: #005f73; 
    font-weight: bold;
    margin-right: 100px; 
    text-decoration: none; 
    font-size: 1.3em;
}

.child-row-link:visited {
    color: #005f73; 
}

.child-row-links-container {
    display: flex; 
    justify-content: space-around; 
    padding: 10px 0;
}

.virtual-schedule-button {
    display: inline-block; 
    padding: 10px 20px; 
    margin-bottom: 5px;
    background-color: #003366;
    color: white; 
    text-decoration: none;
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
}

.virtual-schedule-button:hover {
    background-color: #005f73; 
    color: white;
}

.course-topics {
    background-color: #fff8e7; /* Light background to differentiate the section */
    padding: 40px 20px; /* Spacing around the content */
    text-align: center; /* Center-align the title and content */
}

.topics-title {
    color: #003366; /* Dark blue to match the site's theme */
    margin-bottom: 30px; /* Spacing below the title */
    font-size: 24px; /* Larger font size for the title */
}

.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the topics in case they don't fill a full row */
    gap: 20px; /* Spacing between topics */
}

.topic {
    background-color: #014b96; /* Primary color for the topic boxes */
    color: white; /* White text for contrast */
    padding: 15px 20px; /* Padding inside each topic box */
    border-radius: 5px; /* Rounded corners for the topic boxes */
    flex-basis: calc(33.333% - 40px); /* Three columns, accounting for the gap */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.topic:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
}

@media (max-width: 768px) {
    .topics-container {
        flex-direction: column; /* Stack the topics on smaller screens */
    }
    .topic {
        flex-basis: 80%; /* Adjust the width for smaller screens */
    }
}

.dates-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between cards */
}
.date-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.date-info {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between date and time */
}

.date {
    font-weight: bold;
    font-size: 1.2em;
}

.time {
    font-style: italic;
}


.date-price-enroll {
    display: flex;
    align-items: center;
    gap: 15px; /* Spacing between price and enroll button */
}

.price {
    font-weight: bold;
    color: #0056b3;
    font-size: 1.1em;
}

.testimonial-section {
    overflow: hidden;
    position: relative;
    background-color: #003366; 
    padding: 20px 0; 
}

.testimonial-wrapper {
    overflow: hidden;
    padding: 0 10px; 
}
.testimonial {
    min-width: 300px;
    padding: 20px;
    margin: 0 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; /* This will be overridden by JS, but good to have a fallback */
}

.testimonial blockquote {
    
    font-family: 'Merriweather', serif;
    font-size: 1.1rem; 
    color: #333; 
    line-height: 1.6; 
    margin: 0 0 15px 0; 
}

/* Styling for the instructor name or source of the testimonial */
.testimonial cite {
    font-style: normal; 
    font-weight: bold; 
    color: #007bff; 
}
.newsletter-signup {
    color: #003366;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.newsletter-signup h2 {
    color: #003366; /* Adjust the color */
}

.newsletter-signup p {
    margin-bottom: 20px;
}

#newsletter-form {
    display: inline-block;
}

#newsletter-form input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

#newsletter-form button {
    background-color: #003366; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.schedule-enroll {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
}

#newsletter-form button:hover {
    background-color: #005f73; 
}

.details-control {
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        color: #0056b3; 
    }
    .details-control:hover {
        color: #0056b3; 
    }

    .alta3-link {
        cursor: pointer;
        font-weight: bold;
    }
    .alta3-link a {
        text-decoration: none;
        color: #0056b3; 
    }
    .alta3-link a:visited {
        color: #0056b3; 
    
    }



    .purchase-page {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
        background-color: #f9f9f9;
    }
    
    .purchase-title {
        color: #333;
        text-align: center;
    }
    
    .course-details p {
        margin: 10px 0;
        font-size: 16px;
    }
    
    .outline-link {
        display: inline-block;
        margin-top: 20px;
        background-color: #0056b3;
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .purchase-form {
        background-color: #fff;
        padding: 20px;
        margin-top: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    
    .form-group input {
        width: 15%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .buy-now {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    
    .buy-now:hover {
        background-color: #45a049;
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
        .purchase-page {
            padding: 10px;
        }
    }
    .purchase-page {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px; /* Adjust the space between columns */
}

.left-column, .right-column {
    flex: 1;
}

.right-column {
    max-width: 350px; /* Adjust based on preference */
}

.enroll-section {
    padding: 20px;
    background-color: #f5f5f5; /* Light background for the form area */
    border-radius: 10px; /* Rounded corners for the form container */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.enroll-button {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #003366; /* Example primary color */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}

.enroll-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}


.course-detail-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #003366;
}

.course-header h1, .course-header h2 {
    color: #005f73;
}

.course-objectives, .course-overview, .course-specs {
    margin-top: 20px;
    line-height: 1.6;
}


.course-logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: center; 
    gap: 4px; 
    background-color: #747474; 
    padding: 5px; 
    border-radius: 10px; 
    max-width: 40%; 
    margin-left: 16%;
}

.tab {
    flex-grow: 1;
    padding: 10px 20px;
    cursor: pointer;
    color: black; 
    transition: background-color 0.3s, color 0.3s; 
    text-align: center;
    border-radius: 5px; 
}

.tab:hover {
    background-color: #c0c0c0; /* Slightly darker shade on hover */
}

.tab.active {
    background-color: #003366; /* Active tab color */
    color: white; /* Active tab text color */
    font-weight: bold; /* Make the active tab's text bolder */
}



.tab-content {
    max-width: 70%; /* Match the tab section width */
    border: 1px solid #dddddd;
    padding: 20px;
    display: none; /* Initially hidden */
}

/* Responsive adjustments for better mobile view */
@media (max-width: 768px) {
    .tabs {
        flex-direction: row; /* Ensure tabs stay in a row on smaller screens */
        overflow-x: auto; /* Allow horizontal scrolling on small screens */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    }
    .tab {
        padding: 10px 5px; /* Reduce padding on smaller screens for better fit */
    }
}


.tab-content > div {
    flex-basis: calc(33.3% - 20px); /* Allocate width, accounting for margin/padding */
    margin: 10px; /* Space out the items */
    text-align: center; /* Center the content within each flex item */
}

.tab-content img {
    max-width: 100%; /* Limit image width to the width of its container */
    max-height: 350px; /* Limit image height to keep it consistent */
    object-fit: cover; /* Ensure the aspect ratio is maintained without distortion */
    margin-bottom: 10px; /* Space between the image and the content below it */
}
.tab-content.active {
    display: block; /* Only display the active tab content */
}

.enrollment-card {
    background-color: #fff; 
    position: fixed;
    right: 0;
    top: 100px;
    margin-top: 20px; /* Space from the top content */
    padding: 20px; /* Padding inside the card */
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Shadow for depth */
    width: 20%; 
    float: right;
}

.contact-us-pre-footer {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.btn {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.course-hero-card {
    width: 75%; /* Now 50% of the page width */
    margin-left: 0px;/* Center the hero card */
    color: white;
    text-align: center;
}


/* Adjustments for the tab content */
.course-hero-card h1.marketing-name {
    font-size: 4rem; /* Larger font size for the course name */
    margin-bottom: 20px;
    background-color: #007bff; 
    color: white;
    padding: 20px; 

}
.enroll-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three columns of equal width */
    gap: 20px; /* Space between columns */
}

.enroll-option {
    text-align: center; /* Center content within each option */
}

.enroll-option img {
    width: 100%; /* Ensure images fill the column width */
    max-height: 200px; /* Optional: constrain image height */
    object-fit: cover; /* Keep aspect ratio of images */
    margin-bottom: 10px; /* Space below images */
}

/* Adjust button styles if necessary */
.enroll-option .btn {
    display: block; /* Ensure buttons span the width of their container */
    margin: 10px auto; /* Center buttons horizontally and add vertical space */
}
